<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ernestoyaquello.keepieuppie">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:isGame="true"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/adMobAppId"/>

        <activity
            android:name=".views.activities.MainMenuActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".views.activities.OptionsActivity"
            android:parentActivityName=".views.activities.MainMenuActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="Options"
            android:theme="@style/FullscreenSecondaryActivitiesTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.activities.MainMenuActivity" />
            <intent-filter>
                <action android:name=".OptionsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".views.activities.GameActivity"
            android:parentActivityName=".views.activities.MainMenuActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/FullscreenSecondaryActivitiesTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.activities.MainMenuActivity" />
            <intent-filter>
                <action android:name=".GameActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>